!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en" >
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}
    %title Serve SMACSS
    %link{:href => "stylesheets/app.css", :rel => "stylesheet"}
    %script{:src => "javascripts/vendor/custom.modernizr.js"}
  %body
    .l-container
      .l-header
        .l-header__brand
          %h2 Serve SMACSS
          %p Delicious ERB, Haml + Sass
        .l-header__nav
          %nav{"aria-label" => "Navigation", role: "navigation"}
            %ul.list--inline
              %li
                %a{:href => "#"}
                  Section 1
              %li
                %a{:href => "#"}
                  Section 2
              %li.active
                %a{:href => "#"}
                  Section 3
      %hr
    .l-container
      .l-content
        %h3 Some text
        %p
          Quisque ac nisi quis justo iaculis molestie. Ut non risus quis dui sodales mollis. Morbi libero est, semper ac ligula a, pharetra tempor nisl. Nunc sodales a lacus eu aliquam. Mauris leo arcu, ornare eu nulla in, egestas convallis tellus. Ut nec ligula non mi sodales consequat. Aenean volutpat consectetur neque, sit amet suscipit libero rhoncus at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        %h3 Some Buttons
        %p
          %a.button--small{:href => "#"} Small Button
        %p
          %a.button{:href => "#"} Medium Button
        %p
          %a.button--large{:href => "#"} Large Button
        
      .l-aside
        %h4 A nice aside
        %p We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
        %h4 Other Resources
        %p Once you've exhausted the fun in this document, you should check out:
        %ul
          %li
            %a{:href => "http://foundation.zurb.com/docs"} Foundation Documentation
            = succeed "Everything" do
              %br/
            you need to know about using the framework.
          %li
            %a{:href => "http://github.com/zurb/foundation"} Foundation on Github
            = succeed "Latest" do
              %br/
            code, issue reports, feature requests and more.
          %li
            %a{:href => "http://twitter.com/foundationzurb"} @foundationzurb
            = succeed "Ping" do
              %br/
            us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
